.menu {
    position:fixed;
    background-color: rgb(235, 207, 52);
    color:white;
    height: 8.3vw;
    width: 100%;
    z-index: 2;
    right: 0vw;
    top: 0vh;
}


.logo {
    
    float: left;
    height: 9vw;
    width: 17vw;

}


 .nav-link { 
   
    margin-left: 5vh;
}


 .nav {
    
    text-align: center;
    font-size: 1vw;
    margin-top: 7vh; 
 } 
 
 
 
 .content {

   margin-top: 8.3vw;
   width: 100%;
 }
 
 
 .row {

 height: max-content;
 
 }
 
 
 .col-sm-8 { 
    
    text-align: center;
    background-color: white;
 }
 


.container {

    margin-top: 8vh;
    
}


/*Estilização das imagens, partindo do padrão de tamanho 
width: 25vh; height: 40vh; */
 

.col-md-3 {

font-size: 1.6vh;
font-weight: bold;


}

/* -----  Delimitação das áreas de cad produto mediante à proporção de sua imagem ------- */


.pc1 {

margin-top: 2vh;
width: 31vh;
height: 39vh;
margin-bottom: 2vh;

}

.pc2 {

    margin-top: 1.5vh;
    width: 40vh;
    height: 40.5vh;
    margin-bottom: 1vh;

}


.pc3 {


width: 35vh;
height: 42vh;
margin-bottom: 1vh;

}

.pc4 {

    
    width: 35vh;
    height: 42vh;
    margin-bottom: 1vh;

}




b {

color: green;
font-size: 3vh;

}

.bd1, .bd2, .bd3, .bd4 {

    width: 36vh;
    height: 50vh;
    margin-bottom: 20vh;
    background-color: white;
    border-radius: 2rem;
    box-shadow:  3px 3px 0px lightgray;
    

}

.bd1:hover, .bd2:hover, .bd3:hover, .bd4:hover {

opacity: 55%;
border: solid 1.5px lightslategray;
box-shadow:  3px 3px 0px lightslategray;

}



footer {

margin-top: 15vh;    
background-color: black;
width: 100%;
height: 17.5vh;


}